.head {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: pink;
}

.head img {
  height: 1.5rem;
}

@media (min-width: 768px) {
  .head {
    height: 10rem;
  }
}
