.main {
  height: calc(100vh - 40rem);
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
}

.main .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

.main .input-wrapper h1 {
  margin: 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.main .input-wrapper h1 span {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
  padding-right: 8px;
}

.main .input-wrapper p {
  text-align: center;
  font-size: 0.7rem;
}

.main .input-wrapper .input-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .input-wrapper .input-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .input-wrapper .input-block .input-items .no-error-border {
  width: 80%;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 25px;
  background-color: hsl(0, 0%, 59%, 0.1);
  color: black;
  border: none;
}

.main .input-wrapper .input-block .input-items .error-border {
  width: 80%;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 25px;
  background-color: hsl(0, 0%, 59%, 0.1);
  color: black;
  border: 2px solid red;
}

.main .input-wrapper .no-error {
  display: none;
}

.main .input-wrapper .error {
  color: red;
  width: 100%;
  height: 1rem;
  text-align: center;
  padding: 8px 0;
  font-size: 0.8rem;
}

.input-wrapper button {
  background-color: hsl(223, 87%, 63%);
  color: white;
  border: none;
  padding: 15px 20px;
  width: 90%;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 9px 1px #5f5c5c;
  box-shadow: 2px 2px 9px 1px #5f5c5c;
}
.input-wrapper button:hover {
  cursor: pointer;
  background-color: hsl(223, 87%, 63%, 0.8);
}

.main img {
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    width: 750px;
    height: calc(100vh - 30rem);
  }
  .main .input-wrapper p {
    font-size: 1rem;
  }
  .main .input-wrapper h1 {
    font-size: 2rem;
  }
  .main .input-wrapper .error {
    text-align: left;
    position: relative;
    left: 1rem;
  }
  .main .input-wrapper .input-items {
    align-items: flex-start;
  }
  .main .input-wrapper .input-block {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .main .input-wrapper input {
    width: 90%;
  }
  .input-wrapper button {
    width: 30%;
  }
}
